
    <div id="wrap">
        <header>
            <a id="logo" href="#">LAC STORE</a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/Login">Administration</a></li>
                    <li><a href="/Buy">Products</a></li>

                </ul>
            </nav>
        </header>

    </div>

