<div id="wrap">
    <header>
        <a id="logo" href="#">LAC STORE</a>
        <nav>
            <ul>
                <li class="active"><a href="/Management">Management</a></li>
                <li><a href="/Buy">Products</a></li>

            </ul>
        </nav>
    </header>
</div>
